.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin-top: 1rem;
}

.playButton {
  width: 141px;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  outline: 0;
  border-radius: 10px;
  border: 1px solid #cccccc;
  color: white;
  background-color: #910b06;
  transition: 0.3s all ease;
  cursor: pointer;
  animation: bounce 1s ease-out infinite;
}

.playButton:hover {
  font-weight: 600;
  color: #910b06;
  background-color: white;
}

@keyframes bounce {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.03)
  }

  100% {
    transform: scale(1)
  }
}
