.user {
  display: inline-block;
  font-family: 'Russo One', sans-serif;
}

.title {
  display: block;
  margin: 0.7em 0;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.63);
}

.titleStyle {
  color: rgba(218, 165, 32, 0.89);
}

.titleStyle::before {
  position: absolute;
  content: "WINNER";
  padding: 0.2rem;
  color: white;
  font-size: 0.4em;
  line-height: 1.6em;
  background-color: goldenrod;
  border-radius: 0.5em;
  transform: translateX(-4.5rem) translateY(0.4rem);
}

.score {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.63);
}

.scoreStyle {
  color: rgba(0, 173, 253, 0.856);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  width: 35%;
  height: auto;
  opacity: 0.8;
}

.profileText {
  text-align: start;
  color: rgba(255, 255, 255, 0.63);
}

.profileTextStyle {
  color: rgba(0, 173, 253, 0.753);
}

.text {
  display: block;
  margin-top: 1rem;
}