.playersContainer {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 1rem 0;
}

.centerText {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: white;
}

.centerText.errorText {
  color: rgb(151, 1, 1);
}

.title {
  font-size: 1.5em;
  font-family: 'Russo One', sans-serif;
}

.users {
  background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.726));
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  padding-bottom: 1.5em;
}

.user {
  display: inline-block;
  width: 49%;
}
