.playersContainer {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 1rem 0;
}

.centerText {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: white;
}

.player {
  display: inline-block;
  width: 50%;
}

.title {
  font-size: 1.5em;
  font-family: 'Russo One', sans-serif;
}
