.card {
  margin-bottom: 10px;
  width: 250px;
  padding: 20px;
  border: 3px solid rgb(95, 2, 2);
  border-radius: 2px;
  background-color: rgba(99, 1, 1, 0.219);
  color: white;
}

.link {
  text-decoration: underline;
  font-weight: 300;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 3px;
  margin: 30px auto 50px;
  display: block;
}
